*.code-workspace
*.log
.bk.*
.DS_Store
/.build
/.docker
/.env
/.env.*
/.idea
/.phpunit.cache
/.phpunit.result.cache
/.wp-env.override.json
/build
/CLAUDE.md
/cypress.env.json
/log
/node_modules
/tests/cypress/downloads
/tests/cypress/results
/tests/cypress/screenshots
/tests/cypress/videos
/tests/phpunit/_report
/vendor
