.bk.*
.DS_Store
*.code-workspace
yarn-error.log
/.build
/.docker/php/volumes
/.env
/.env.*
/.github/artifacts
/.idea
/.phpcs.xml
/.phpunit.cache
/.phpunit.result.cache
/.wp-env.override.json
/build
/codeception.yml
/cypress.env.json
/tests/cypress/downloads
/tests/cypress/results
/tests/cypress/screenshots
/tests/cypress/videos
/node_modules
/tests/phpunit/_output
/tests/wpunit.suite.yml
/vendor
