{
    "wpUsername": "admin",
    "wpPassword": "password",
    "apiUrl": "http://localhost:3000/v1",
    "apiKey": "write_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "contentId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
    "projectId": "xxxx"
}